<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inc.talentedinc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    //***********************shimaa*****************************
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    //**********************************************************

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible">

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                 <!--<category android:name="android.intent.category.LAUNCHER" />-->

            <!--</intent-filter>-->

        </activity>
        <activity
            android:name=".view.activities.UpComingDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>

        <!-- ...............................mina..................................... -->
        <!-- facebook Login -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!--sign up activity-->
        <activity
            android:name=".view.activities.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

             <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->

        </activity>

        <!--offered course details activity-->
        <activity android:name=".view.activities.OfferedCourseDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".view.activities.MyOfferedCourses"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".view.activities.MyOfferedCoursesRequestsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- ........................................................................ -->


        <!-- <activity android:name=".view.activities.SignUpActivity" /> -->

        //******************** Shimaa ****************************************

        <activity android:name=".view.activities.SignUpInterests" />
        <activity android:name=".view.activities.OthersProfileActivity" />
        <activity android:name=".view.activities.BecomeInstructorActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".view.activities.UpdateInterestsActivity" />
        <activity android:name=".view.activities.FollowersActivity"></activity>

        //**********************************************************************
        <!-- -.................................alaa............................................. -->
        <activity android:name=".view.activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.CreateCourseActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.activities.WorkSpaceProfile" android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <service
            android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!-- ............................alaa..................................................... -->
    </application>

</manifest>